In [1]:
print("hello,python full stack student")

hello,python full stack student

In [14]:
print("i am krishna")

i am krishna

In [15]:
print("are u a avinash student")

are u a avinash student

In [16]:
name="krishna" 
age=19 
gpa=10.0 
is_student=True 
print(name, age, gpa, is_student)

krishna 19 10.0 True

In [17]:
student="aaqil"
marriage_status=3
wife=4
children=9
print(student, marriage_status, wife, children)

aaqil 3 4 9

In [18]:
x=10
y=9.0
z="python"
flag=False
print(type(x), type (y), type(z), type(flag) )

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [19]:
name="krihna"
college="acc"
favlang= "ntg"
print (name, college, favlang)

krihna acc ntg

In [20]:
dob=2006
year=2025 
dob-year

-19

In [21]:
movie="mustang"
release_year=2025
rating=9
print( movie, release_year, rating)

mustang 2025 9

In [25]:
a=14
b=4
print("addition:",a+b)
print("floordivision:",a//b)
print("division:",a/b)
print("power:",a**b)

addition: 18
floordivision: 3
division: 3.5
power: 38416

In [28]:
a=10
b=20
print(a>b) # FALSE
print(a==b) # true
print(a<b) and (b==20)#true

False
False
True